?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="Media" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  <xs:complexType name="personType">
    <!--Map of PersonID for the ID attribute -->
    <xs:attribute name="ID" type="xs:ID" use="required"/>
    <!-- Map of Person's Name-->
    <xs:sequence>
      <xs:element name="William" type="xs:string"/>
    </xs:sequence>
  </xs:complexType name>
  <xs:complexType name="personRef">
    <!--Referencing Name from Map-->
    <xs:attribute name="Willam" type="xs:IDREF" use="xs:required"/>
  </xs:complexType>
  <xs:complexType name="programmeType">
    <xs:sequence>
      <!--Map From Programme to ProgrammeID-->
      <xs:element name="programmeID" type="xs:string"/>
      <!--Map from Channel.Name -->
      <xs:element name="StarTrek" type="xs:string"/>
      <!--Referencing from Person and Occurs -->
      <xs:element name="person" type="personRef" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="channelType">
    <xs:sequence>
      <!--Map from channel to Channel ID -->
      <xs:element name="channelID" type="xs:string"/>
      <!--Map from Channel name-->
      <xs:element name="CBS" type="xs:string"/>
      <xs:element name="channel" type="channelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplexType">
    <xs:sequence>
      <!--Map from Multiplexer to Multiplexer ID -->
      <xs:element name="multiplexerID" type="xs:string"/>
        <!--Map from Multiplex to Name-->
      <xs:element name="MPX2" type="xs:string"/>
      <xs:element name="person" type="personType" minOccurs="0" maxOccurs="unbounded"
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EPG" type="multiplexerType"/>
</xs:schema>
